@font-face {
  font-family: "emoji";
  src: url("emojione-svg.woff2") format("woff2");
}
/* Гамбургер */
emoji-hamburger::before {
  content: "🍔";
}

/* Волшебник */
emoji-mage::before {
  content: "🧙";
}

/* Мусорная корзина */
emoji-wastebasket::before {
  content: "🗑️";
}