$body-bg: #f8f2f1 !default;
$text-color: 221716 !default;

$grid-columns: 12 !default;
$grid-gutter-width: 3% !default;

$colors: (
  red: hsl(9, 98, 52%),
  blue: #0099cc,
  green: #2ebc78
);
$known-prefixes: webkit, moz, ms, o;