@use "sass:color";

@import "variables";
@import "mixins";
@import "grid";
@import "colors";

.theme-light {
  background-color: $body-bg;
  color: $text-color;
}

.theme-dark {
  background-color: color.invert($body-bg);
  color: color.invert($text-color);
}

.tilt {
  @include prefix(transform, rotate(15deg), wekbit ms);
}