{
  "compact": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "26",
          "firefox": "20",
          "ie": "11"
        },
        "useBuiltIns": false
      }
    ]
  ]
}
